<head>
    <title>Curatio - Physical Treatment</title>
    <link rel="stylesheet" type="text/css" href="/static/css/physical.css">

</head>

<body>
    <div class="container">
        <div class="box">
            <div class="consult">
                <a href="consult">Contact a general practitioner RIGHT NOW</a>
            </div>
        </div>

        <br><span style="text-align: center;">or</span><br><br>
        
        <div class="box" id="filterone">
            <h2>Show us where it hurts</h2>
            <div>
                <input type="radio" id="frontal" name="" value="frontal">
                <label for="frontal">Frontal</label>
                <input type="radio" id="mid" name="" value="mid">
                <label for="mid">Mid</label>
                <input type="radio" id="hind" name="" value="hind">
                <label for="hind">Hind</label></div>
        </div>

        <div class="box" id="filtertwo">
            <h2>Possible symptoms</h2>
            <div>
                <input type="checkbox" id="one" name="" value="one">
                <label for="one">Unnamed</label><br>
                <input type="checkbox" id="one" name="" value="one">
                <label for="one">Unnamed</label><br>
                <input type="checkbox" id="one" name="" value="one">
                <label for="one">Unnamed</label><br>
            </div>
        </div>

        <div class="box">

            <!--<h2>Extra notes to the doctor</h2>-->
            <div>
                <input name="notes" id="notes" type="text" placeholder="Extra notes to the doctor..."></input>
                <button type="submit" value="search">FIND</button>

            </div>
        </div>

    </div>
</body>